*Contenuti*
===
- [Dizionari](#Dizionari)
    - [Definizione e sintassi](#Definizione-e-sintassi)
    - [Accesso](#Accesso)
    - [Operazioni su dizionario](#Operazioni-su-dizionario)
    - [Ciclo sugli elementi di un dizionario](#Ciclo-sugli-elementi-di-un-dizionario)
    - [Esercizio 1](#Esercizio-1)
    - [Esercizio 2](#Esercizio-2)

Dizionari
===
Spesso gli elementi di una lista hanno un significato particolare. Vogliamo ad esempio costruire un database di utenti: ciascun utente ha un nome, un'età e un sesso.

Possiamo pensare di realizzare il database come una lista. A sua volta, ogni contatto sarà una lista di informazioni.

In [1]:
users = []

francesco = ['Francesco', 30, 'M']
elisa = ['Elisa', 27, 'F']

users += [francesco]
users += [elisa]

print(users)

[['Francesco', 30, 'M'], ['Elisa', 27, 'F']]

Immaginiamo di voler visualizzare le informazioni di ogni utente.

In [4]:
for user in users:
    print('{}({}) ha {} anni'.format(user[0], user[2], user[1]))

Francesco(M) ha 30 anni
Elisa(F) ha 27 anni

Quando le informazioni di un utente sono tante, però, gestirle in questo modo diventa scomodo. Infatti, per accedere ad un campo dobbiamo saperne la posizione nella lista.

Definizione e sintassi
---

Un *dizionario* è un contenitore speciale dove ogni elemento ha una *chiave* (cioè un identificatore univoco) e un *valore*.

In [ ]:
dictionary_name = {key1:value1, key1:value2}

Il codice qui sopra mostra come si dichiara un dizionario. 

- le coppie (chiave, valore) possono essere tante a piacere
- i valori possono essere qualsiasi cosa (inclusi liste e altri dizionari)
- una chiave non può essere ripetuta: per esempio, ciascun utente avrà un solo nome, una sola età, ...
- un dizionario si dichiara con le parentesi graffe

Tornando al nostro esempio, possiamo gestire il database di utenti come una lista di dizionari.

In [6]:
francesco = {'name':'Francesco', 'age':30, 'sex':'M'}
elisa = {'name':'Elisa', 'age':27, 'sex':'F'}
print(francesco)
print(elisa)

{'name': 'Francesco', 'age': 30, 'sex': 'M'}
{'name': 'Elisa', 'age': 27, 'sex': 'F'}

In [7]:
users = [francesco, elisa]
print(users)

[{'name': 'Francesco', 'age': 30, 'sex': 'M'}, {'name': 'Elisa', 'age': 27, 'sex': 'F'}]

Accesso
---
Adesso possiamo accedere alle informazioni degli utenti in modo più compatto e leggibile, utilizzando la chiave che identifica un campo per ottenere il valore corrispondente.

In [8]:
for user in users:
    print('{}({}) ha {} anni'.format(user['name'], user['sex'], user['age']))

Francesco(M) ha 30 anni
Elisa(F) ha 27 anni

In [9]:
users_name = [user['name'] for user in users]
print(users_name)

['Francesco', 'Elisa']

Operazioni su dizionario
---
Come abbiamo fatto per le liste, vediamo le operazioni di base che si possono fare su un dizionario.

In [20]:
tel_book = {}#dizionario vuoto

tel_book['francesco'] = 3291015870#inserimento
tel_book['elisa'] = 3478090800
print(tel_book)

{'francesco': 3291015870, 'elisa': 3478090800}

In [21]:
print('Il numero di Francesco è', tel_book['francesco'])#accesso tramite chiave

Il numero di Francesco è 3291015870

In [22]:
tel_book['francesco'] = 3289797970#modifica valore di chiave esistente
print('Il nuovo numero di Francesco è', tel_book['francesco'])

Il nuovo numero di Francesco è 3289797970

Come abbiamo detto, un valore può essere qualsiasi cosa.

In [23]:
tel_book['alessandro'] = [3205705700, 3289009000]#lista come valore
print('I numeri di Alessandro sono', tel_book['alessandro'])

I numeri di Alessandro sono [3205705700, 3289009000]

La rimozione di una coppia (chiave, valore) si ottiene con *del*, che è una *keyword* del linguaggio (come for).

In [24]:
print(tel_book)
del tel_book['alessandro']
print(tel_book)

{'francesco': 3289797970, 'elisa': 3478090800, 'alessandro': [3205705700, 3289009000]}
{'francesco': 3289797970, 'elisa': 3478090800}

La modifica di una chiave si fa in due passaggi.

In [25]:
tel_book['micael'] = 3407876547#ops!
print(tel_book)

{'francesco': 3289797970, 'elisa': 3478090800, 'micael': 3407876547}

In [26]:
tel_book['michael'] = tel_book['micael']
print(tel_book)

del tel_book['micael']
print(tel_book)

{'francesco': 3289797970, 'elisa': 3478090800, 'micael': 3407876547, 'michael': 3407876547}
{'francesco': 3289797970, 'elisa': 3478090800, 'michael': 3407876547}

Ciclo sugli elementi di un dizionario
---
Attraverso la funzione *items* si accede alle coppie (chiave, valore) di un dizionario.

In [29]:
for name, cell_number in tel_book.items():
    print('Il numero di {} è {}'.format(name.title(), cell_number))

Il numero di Francesco è 3289797970
Il numero di Elisa è 3478090800
Il numero di Michael è 3407876547

Si può accedere separatamente sia alle chiavi che ai valori.

In [31]:
for name in tel_book.keys():#chiavi
    print('Nome:', name.title())

Nome: Francesco
Nome: Elisa
Nome: Michael

In [32]:
for number in tel_book.values():#valori
    print('Numero:', number)

Numero: 3289797970
Numero: 3478090800
Numero: 3407876547

Se si ordina un dizionario, l'ordinamento sarà fatto sulle chiavi. Questo si può usare per stampare un dizionario in ordine (di chiave).

In [33]:
for name in sorted(tel_book.keys()):
    print('Il numero di {} è {}'.format(name.title(), cell_number))

Il numero di Elisa è 3407876547
Il numero di Francesco è 3407876547
Il numero di Michael è 3407876547

*Esercizio 1*
---
Su https://en.wikipedia.org/wiki/List_of_mountains_by_elevation trovate l'elenco delle montagne più alte del mondo.

- costruire una struttura dati *heights* che, per ognuna delle 5 montagne più alte, permetta di accedere all'altezza a partire dal nome
- stampare le montagne in ordine alfabetico, riportandone nome, altezza e indice nell'ordinamento alfabetico
        La montagna numero 1 è Kangchenjunga ed è alta 8,586 metri
        La montagna numero 2 è K2 ed è alta 8,611 metri
        ...
        La montagna numero 5 è Mount Everest ed è alta 8,858 metri

In [4]:
#FILL ME

*Esercizio 2*
---
Utilizzando il link dell'esercizio precedente,

- costruire un database *mountains* con le prime 5 montagne più alte
- ogni record deve contenere nome, altezza e stato in cui si trova la montagna
- stampare, in ordine di inserimento, tutte le informazioni di ogni montagna e l'indice di inserimento
        La montagna numero 1 è Mount Everest, è alta 8858 metri e si trova in Nepal
- costruire due liste *mountain_names* e *mountain_heights*, rispettivamente con nomi e altezze delle montagne inserite nel database
- utilizzando le due liste, costruire lo stesso dizionario dell'esercizio precedente (l'ordine delle coppie non è importante)

In [ ]:
#FILL ME

<script>
  $(document).ready(function(){
    $('div.back-to-top').hide();
    $('nav#menubar').hide();
    $('div.prompt').hide();
    $('.hidden-print').hide();
  });
</script>

<footer id="attribution" style="float:right; color:#999; background:#fff;">
Created with Jupyter, delivered by Fastly, rendered by Rackspace.
</footer>