In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv('../data/train.csv', header = 0, index_col = 'PassengerId')

In [3]:
df_train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
gender_probs = df_train.Sex.value_counts() / df_train.shape[0]
survival_probs = df_train.groupby('Sex').Survived.mean()

In [5]:
gender_probs

male      0.647587
female    0.352413
Name: Sex, dtype: float64

In [6]:
survival_probs

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [7]:
gender_probs['female']*survival_probs['female']

0.2615039281705948

In [8]:
gender_probs['female']*survival_probs['female'] + gender_probs['male']*(1-survival_probs['male'])

0.7867564534231202

In [9]:
gender_probs['female']*survival_probs['female'] + gender_probs['male']*survival_probs['male']

0.3838383838383838

In [10]:
df_train.Survived.mean()

0.3838383838383838